@font-face {
	font-family: 'Work-Sans';
	src: url('./WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
	font-style: italic;
	font-weight: 100 900;
}

@font-face {
	font-family: 'Work-Sans';
	src: url('./WorkSans-VariableFont_wght.ttf') format('truetype');
	font-style: normal;
	font-weight: 100 900;
}
